<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <a href="/"><button class="btn btn-success">Formulario</button></a>
    <h1 class="text-center mt-5">Vista de Productos</h1>
    
    <% if(productsList.length != 0) { %>
        

        <div class="mx-5">
            <table class="table text-center rounded">
                <tr class="row">
                    <th scope="col" class="col-4">Nombre</th>
                    <th scope="col" class="col-4">Precio</th>
                    <th scope="col" class="col-4">Foto</th>
                </tr>

                <% productsList.forEach((product) => { %>
                    <tr scope="row" class="row">
                        <td class="col-4"><%= product.name %></td>
                        <td class="col-4">$<%= product.price %></td>
                        <td class="col-4"><img width="20%" src="<%= product.thumbnail %>" alt="<%= product.name %>"></td>
                    </tr>
                <% }) %>
            </table>
        </div>

    <% } else { %>

        <div id="productListEmpty" class="text-center rounded mx-auto">
            <p class="p-3">No se encontraron productos</p>
        </div>

    <% } %>

    <%- include("../partials/scripts.ejs") %>
</body>
</html>